body{
	background-color: black;
	font-family: "Amatic SC";
}

html {
    scroll-behavior: smooth;
}

.link-header{
	position: fixed;
	z-index: 2;
	top: 0px;
	right: 0px;
	background-color: black;
	opacity: 70%;
	width: 100%;
	height: 49px;

}

.topo{
	column-count: 4;
	text-align: center;
	font-size: xx-large;
}


.black-link{
	color: white;
	text-decoration: none;
	word-spacing: 100%;
}


.image-header{
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 0px;
}

.container {
	position: relative;
	z-index: -1;
	text-align: center;
	color: white;
}

.center {
	font-size: 400%;
	position: absolute;
	top: 41%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bot-left {		
	font-size: 100%;
	background-color: black;
	position: absolute;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	bottom: 1px;
	left: 60px;
	transform: translate(-50%, -50%);
}

.go-menu{
	background-color: black;
	font-size: 200%;
	position: absolute;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container-flex{
	display: flex;
	max-width: 900px;
	width: 80%;
	margin: 0 auto;
	justify-content: space-around;

}

.tipo-menu{
	flex: 1;
	text-align: center;
	color: white;
	font-size: xx-large;
	border: thin white solid;
	border-bottom: transparent;
	cursor: pointer;
}

.tipo-menu:hover{
	background-color: red !important;
}

.menu-name{
	color: black;
	text-transform: uppercase;
	text-align: left;
}

.price{
	float: right;
	color: white;
	background-color:rgb(80, 80, 80);
	border-width: 5px;
	border-radius: 10%;
	border-style: solid;
	border-color: rgb(80, 80, 80);
}

.menu-description{
	color: black;
	text-transform: uppercase;
	font-size: x-large;
	text-align: left;
	margin-bottom: 3%;
}

.section-menu{
	background-color: black;
}

#container-menu-pizza{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;					
	left: 0;
	right: 0;
	width: 900px;
	max-width: 80%
}

#container-menu-salad{
	background-color: white;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;					
	left: 0;
	right: 0;
	width: 900px;
	max-width: 80%
}

#container-menu-starter{
	background-color: white;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;					
	left: 0;
	right: 0;
	width: 900px;
	max-width: 80%
}

.menu-item{
	padding-right: 1%;
	border-width: 10px;
	border: solid grey 1px;
}


.cabecalho {
	color: white;
	text-align: center;
	font-size: 40px;
	font-weight: lighter;
}

.corpo {
	color: white;
	font-size: x-large;
	text-align: left;
}

.mapa{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	filter: grayscale(80%);
}

#frame-about{
	margin: 0 auto;
	width: 900px;
	max-width: 80%;			
}

.horario{
	line-height: 2.0;		
	color: white;
	font-size: x-large;
	padding-left: 0;						
	column-count: 2;
	list-style-type:none;
}

#section{		
	background-color: #6c7a81;
}	

.chef-img{
	border-radius: 50%;
	width: 125px;
	float: right;
}

#contact-form{
	color: white;
	width: 900px;
	max-width: 80%;
	margin: 0 auto;
}

.contact{
	font-size: x-large;
	text-align: left;
}

.form{
	box-sizing: border-box;
	width: 100%;
}

.form input{
	font-family: "Amatic SC";
	height:40px;
	background-color: whitesmoke;
	margin:0 auto;
	margin-bottom: 10px;
	padding-left: 20px;
	border: none;
	box-sizing: border-box;
	width:100%
}

.form input[type=submit]{
	background-color: #E0E0E0;
}	